<h1>Welcome to video app!</h1>
<h2>Upload your video here:</h2>
<form method=post enctype="multipart/form-data" action="/video">
Video to upload: <input type=file name="upfile"><br>
<input type=submit value="Submit">
</form>