<!DOCTYPE html>
<html>
	<head>
		<title>Video App</title>
		<script src="/socket.io/socket.io.js"></script>
		<script src="/jquery.js"></script>
		<script src="/interface.js"></script>
	</head>
	<body>
		<header>
			<h1>Video App</h1>
		</header>
		<main>
			<%-body%>
		</main>
	<body>
</html>